.about-sedona {
  display: grid;
  grid-template-columns: 1fr;
}

.about-sedona__wrapper {
  padding: 32px 18px 16px 18px;

  @media (min-width: @tablet-width) {
    padding: 47px 124px 55px 124px;
  }

  @media (min-width: @desktop-width) {
    padding: 59px 359px 44px 359px;
  }
}

.about-sedona__slogan {
  .h-standart();
  color: @colorblack;
  text-align: center;
  margin-bottom: 35px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    line-height: 26px;
  }
}

.about-sedona__intro {
  .h-description();
  color: @colorgray;
  text-align: center;
  // margin-bottom: 16px;
}
