.card__title {
  .h-standart();
  color: @colorblack;
  padding-left: 47px;
  padding-top: 8px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
    padding-top: 26px;
  }
}

.card__description {
  color: @colorgray;
  padding-left: 47px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
    text-align: center;
    padding-top: 26px;
  }
}

.card__item {
  position: relative;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 331px;
    padding-left: 33px;
    padding-right: 33px;
  }
}

.card__icon {
  position: absolute;
  top: 0;
  left: 0;

  @media (min-width: @tablet-width) {
    display: block;
    position: static;
  }
}
