.card__title {
  .h-standart();
  color: @colorblack;
  padding-left: 47px;
  padding-top: 8px;
  margin: 0;

  @media (min-width: @tablet-width) {
    .h-standart-bigger();
    padding-left: 0;
    padding-top: 0;
    margin-bottom: 24px;
  }
}

.card__description {
  .h-description();
  margin: 15px 0 0 0;
  color: @colorgray;
  padding-left: 47px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
    text-align: center;
    margin-top: 0;
  }
}

.card__item {
  position: relative;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 58px 33px 61px 33px;
  }

  @media (min-width: @desktop-width) {
    padding: 72px 33px 61px 33px;
  }

  &::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: @tablet-width) {
      width: 77px;
      height: 77px;
    }

    @media (min-width: @tablet-width) {
      display: block;
      position: static;
      margin-bottom: 20px;
    }
  }
}

.card__item--house {
  &::before {
    background-image: url("../../img/icon-house.svg");
  }
}

.card__item--burger {
  &::before {
    background-image: url("../../img/icon-burger.svg");
  }
}

.card__item--suv {
  &::before {
    background-image: url("../../img/box.svg");

    @media (min-width: @desktop-width) {
      background-image: url("../../img/box-desktop.svg");
    }
  }
}

.card__icon {
  position: absolute;
  top: 0;
  left: 0;

  @media (min-width: @tablet-width) {
    display: block;
    position: static;
    margin-bottom: 20px;
  }
}
