.copyright__text {
  .h-description();
}

.copyright__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: @colorblack;

  &::after {
    content: "";
    mask-image: url("../../img/sprite-social-icons.svg#htmlacademy");
    background-color: @colorblack;
    width: 28px;
    height: 35px;
  }

  @media (min-width: @tablet-width) {
    justify-content: end;
  }

  &:hover {
    color: @colorblue;

    &::after {
      background-color: @colorblue;
    }
  }

  &:active {
    color: #b3b3b3;

    &::after {
      background-color: #b3b3b3;
    }
  }
}
