.extra-card {
  display: grid;
  grid-template-columns: 1fr;
  background-color: @colorwhite;
  padding: 23px 18px 46px 18px;
  list-style-type: none;


  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }
}

.extra-card__item {
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 6px;
  }
}
