.form {
  .form__head {
    .h-standart-bigger();
    color: @colorblack;
  }

  .form__reviews {
    padding: 24px 20px 34px 20px;
  }

  .form__title {
    .h-description();
    color: @colorgray;
  }

  .form__control {
    .font-bold();
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    color: @colorblack;

    &::placeholder {
      opacity: 30%;
      text-transform: none;
    }
  }

  .form__label {
    .font-bold();
    font-size: 18px;
    line-height: 26px;
    color: @colorblack;
  }

  .form__submit {
    .h-standart-bigger();
    color: @colorwhite;
    background-color: @blue;
  }

  .form__help-text {
    .font-regular();
    font-size: 12px;
    line-height: 21px;
    text-transform: uppercase;
    color: @colorgray;
    opacity: 60%;
  }
}
