.form {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.form__head {
  .h-standart-bigger();
  color: @colorblack;
}

.form__reviews {
  padding: 24px 20px 34px 20px;
}

.form__reviews--one-column {
  @media (min-width: @tablet-width) {
    grid-column: 1/3;
  }
}

.form__title {
  .h-description();
  color: @colorgray;
}

.form__control {
  .font-bold();
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: @colorblack;

  &::placeholder {
    opacity: 30%;
    text-transform: none;
  }
}

.form__label {
  .font-bold();
  font-size: 18px;
  line-height: 26px;
  color: @colorblack;
}

.form__submit {
  .h-standart-bigger();
  color: @colorwhite;
  background-color: @colorblue;
}

.form__help-text {
  .font-regular();
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: @colorgray;
  opacity: 60%;
}
