.head-content {
  display: grid;
  grid-template-columns: 1fr;
}


.head-content__wrapper {
  padding: 37px 20px 37px 20px;

  @media (min-width: @tablet-width) {
    padding: 66px 155px 81px 155px;
  }

  @media (min-width: @desktop-width) {
    padding: 100px 371px 86px 371px;
  }
}

.head-content__wrapper--form {
  padding: 37px 20px 26px 20px;

  @media (min-width: @tablet-width) {
    padding: 64px 20px 67px 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 114px 20px 74px 20px;
  }
}

.head-content__title {
  .h-standart();
  color: @colorblack;
  text-align: center;
  margin: 0 0 23px 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 32px;
  }
}

.head-content__title--form {
  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 32px;
  }
}

.head-content__description {
  .h-description();
  color: @colorgray;
  text-align: center;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 21px;
  }
}
