.main-footer {
  padding: 33px 18px 40px 18px;
}

.main-footer__title {
  .h-standart-bigger();
  color: @colorblack;
}

.main-footer__wrapper {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}
