.search {
  display: grid;
  grid-template-columns: 1fr;
}

.search__wrapper {
  padding: 42px 18px 49px 18px;

  @media (min-width: @tablet-width) {
    padding: 60px 155px 55px 155px;
  }

  @media (min-width: @desktop-width) {
    padding: 62px 371px 66px 371px;
  }
}

.search__title {
  .h-standart-bigger();
  color: @colorblack;
  text-align: center;
  margin: 0 0 20px 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 33px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 34px;
  }
}

.search__description {
  .h-description ();
  color: @colorgray;
  text-align: center;
  padding-bottom: 32px;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 42px;
  }
}

.search__link {
  .h-standart-bigger();
  color: @colorwhite;
  background-color: @colorblue;
  text-decoration: none;
  text-align: center;
  padding: 16px 49px;
  display: block;
  width: 100%;

  &:hover {
    background-color: @colorblue-hover;
  }

  &:active {
    background-color: @colorblue-active;
    color: fade(@colorwhite, 30%);
  }
}
