.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.site-list__link {
  color: @colorwhite;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    color: @colorblack;
  }
}

.site-list__item {
  text-align: center;
  padding-top: 17px;
  padding-bottom: 12px;

  @media (min-width: @tablet-width) {
    padding-top: 18px;
    padding-bottom: 18px;
    flex: 1;

    &:nth-child(2),
    &:first-child {
      align-self: flex-start;
    }

    &:nth-child(3),
    &:last-child {
      align-self: flex-end;
    }

    &:nth-child(3) {
      margin: auto;
    }
  }
}
