.social__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
  padding: 0;
  margin: 0;
}

.social__item {
  text-align: center;
  list-style-type: none;

  &:first-of-type {
    @media (min-width: @tablet-width) {
      margin-left: 8px;
    }
  }
}

.social__link {
  width: 48px;
  height: 48px;
  background-color: @colorblue;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: "";
    width: 24px;
    height: 24px;
    background-color: @colorwhite;
  }

  &:hover {
    background-color: @colorblue-hover;
  }

  &:active {
    background-color: @colorblue-active;

    &::after {
      opacity: 0.3;
    }
  }
}

.social__link--telegram {
  &::after {
    mask-image: url("../../img/sprite-social-icons.svg#telegram");
  }
}

.social__link--vk {
  &::after {
    mask-image: url("../../img/sprite-social-icons.svg#vk");
  }
}

.social__link--youtube {
  &::after {
    mask-image: url("../../img/sprite-social-icons.svg#youtube");
  }
}
