.video {
  padding: 14px 20px 0 20px;
  display: grid;
  grid-template-columns: 1fr;
}

.video__title {
  .h-standart-bigger();
  color: @colorblack;
}

.video__description {
  .h-description-big ();
  color: @colorgray;
}
