*,
html,
body {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.m-d-none {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.t-d-none {
  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    display: none;
  }
}

.d-d-none {
  @media (min-width: @desktop-width) {
    display: none;
  }
}
